<header>
  <h1 class='title'>
    <a href="/">
      <img class='avatar' src="https://avatars2.githubusercontent.com/u/906583?s=460" alt="Sergey Kuchmistov">
      {{site.title}}
    </a>
  </h1>

  <section>
  Hi! My name is Sergey Kuchmistov. Subscribe via <a
      href="{{ "/feed.xml" | prepend: site.baseUrl }}"
    >via RSS</a> and follow me on <a
      href="{{ site.github }}"
      rel="github"
    >github</a>
    or <a
      href="{{ site.linkedin }}"
      rel="linkedin"
      >
      linkedin</a>.
  </section>
</header>
